.login-wrapper {
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
  background-color: black;
}

.login-ctn {
  margin-top: 30px;
  /* border: 1px solid green; */
  width: 300px;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-form input {
  /* width: 300px; */
  width: 100%;
  border: none;
  margin-bottom: 20px;
  line-height: 2;
  font-size: 1.6rem;
  padding-left: 5px;
  border-radius: 5px;
  background-color: lightgrey;
}

.login-form button {
  border: 1px solid white;
  align-self: flex-start;
  font-size: 1.8rem;
  border-radius: 5px;
  background-color: black;
  color: white;
  margin-bottom: 50px;
}

.login-form button:hover {
  cursor: pointer;
  color: #D87A92;
  border-color: #D87A92;
}