.habit-wrapper {
  margin: 10px 0;
  padding: 10px 2px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  width: 100%;

  .btn-ctn {
    height: 100%;
    display: flex;
    align-items: center;
    margin-right: 20px;
    @media (max-width: 550px) {
      margin-right: 5px;
    }

    .status-btn {
      border-radius: 5px;
      margin-left: 20px;
      height: 20px;
      font-size: 1.8rem;
      height: 100%;
      &:focus {
        outline: 0;
      }
      &:hover {
        background: #d87b92;
        color: black;
        border-color: #d87b92;
      }
    }

    .completed {
      background: #d87b92;
      border-color: #d87b92;
    }

    .noncompleted {
      background: inherit;
      color: white;
      border: 1px solid white;
    }
  }

  .habit-ctn {
    background-color: black;
    border-radius: 5px;
    overflow: scroll;
    width: 100%;
  }

  .primary-info {
    display: flex;
    justify-content: space-between;
    height: 40px;
    align-items: center;
    width: 100%;
    white-space: nowrap;

    .name {
      width: 400px;
      margin: 0 0 0 10px;
      color: #d87b92;
      font-size: 2rem;
      overflow: hidden;
      @media (max-width: 550px) {
        width: 240px;
      }
    }

    .stats-btn {
      color: #d87b92;
      font-size: 1.4rem;
      margin: 0 10px;
      font-style: italic;
      &:hover {
        cursor: pointer;
        text-decoration: underline;
      }
      @media (max-width: 550px) {
        margin-left: 0;
      }
    }
  }

  .visible {
    display: flex;
  }

  .hidden {
    display: none;
  }
}

.more-info {
  display: flex;
  flex-direction: row;

  .GPA {
    margin: 0 5px;
    color: #d87b92;
    font-weight: bold;
  }

  .gpa-label {
    color: white;
    font-weight: normal;
  }
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
