.lifeGPA-wrapper {
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
  margin: 60px 0;
  cursor: help;
  @media (max-width: 550px) {
    margin: 30px 0;

    .lifeGPA-ctn {
      align-items: center;
    }
  }

  h1 {
    font-size: 5rem;
    color: white;
  }

  span {
    color: white;
    color: black;
    /* color: #D87B92; */
    background-color: #d87b92;
    border: 1px solid black;
    border-radius: 10%;
    padding: 3px;
    @media (max-width: 550px) {
      display: block;
      width: 110px;
      margin: 20px auto;
    }
  }
}