.credentials {

}

.login-box {
  margin: 100px auto;
  /* border: 1px solid red; */
  width: 550px;
}

.login-box header {
  display: flex;
  /* justify-content: space-between; */
}

.login-box .header-btn {
  width: 50%;
  text-align: center;
  font-size: 2.5rem;
  padding: 10px 0;
  background-color: black;
  color: #D87A92;
  font-weight: bold;
}

.login-box .header-btn:hover {
  /* color: black; */
  border-bottom: 1px solid #D87A92;
  cursor: pointer;
}

.selected {
  border-bottom: 1px solid #D87A92;
}